.form {
  flex: 1;
  @media screen and (max-width: 425px) {
    margin-top: 1rem;
  }
  &__group {
    display: flex;
    @media screen and (max-width: 425px) {
      display: block;
    }

    & .input-control {
      background-color: rgba(255, 0, 0, 0.522);
      flex: 1 1 auto;
      display: block;
      margin-bottom: 10px;
      margin-right: 8px;
      padding: 4px;
      @media screen and (max-width: 425px) {
        width: 95%;
      }
    }
  }
}
